<aside id="left-panel">

    <nav>
        <ul>
            <li>
                <a href="#" title="Maestros"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Maestros</span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("index", "Users")" title="Maestros"><span class="menu-item-parent">Usuarios</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "Roles")" title="Maestros"><span class="menu-item-parent">Roles</span></a>
                    </li>
                </ul>
            </li>
            

        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>