@using WebIluminaMVC.DataAccess;
    <!-- HEADER -->
<header id="header">
    <div id="logo-group">        
            <span id="logo"> <img src="@Settings.CurrentLogo" alt="SmartAdmin"> </span>
    </div>
    <div>
        <br />
        <span class="project-selector"> @DataUtil.GetUser().messageWelcome </span>
    </div>


    <section id="top-right">
        @if (@Model is HelperResult)
        {
            @Model
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        }
    </section>
</header>
<!-- END HEADER -->